html {
background-image: linear-gradient(to left bottom, #8fcbca, #88c3c9, #83bac7, #80b2c3, #7ea9bf, #7ba9bf, #77aabe, #74aabd, #70b3bd, #73bbb9, #7dc3b1, #8ec9a8);
 }
 canvas {
    box-shadow: 0 0  20px 10px #234662;
    border-radius: 10px;
  }
  .row1{
    display: flex;
  justify-content: flex-start;

  }
  .row1-wrap{
    position: absolute;
      height: 95%;
    width: 20%;
  }
  .row2{
    display: flex;
    justify-content: flex-end;
  }
  .row2-wrap{
    position: absolute;
      height: 95%;
    width: 20%;
  }
  @media (min-height: 800px) {
    .btn-next, .btn-back {
      max-height: 80%;
    }
  }

  .btn-back {
    background-color: #FEC75E;
        padding: 20px;
        border: 2px solid #000;
        border-radius: 10px;
        font-family: 'DotGothic16', sans-serif;
        font-size: 10pt;
        max-width: 90%;
        height: 100%;
  }
  .btn-back-wrapper {
    display: flex;
    justify-content: center;
    height: 12%;
    width: 100%;
    position: absolute;
    top: 1%
  }
  .btn-next-wrapper {
    display: flex;
    justify-content: center;
    height: 12%;
    width: 100%;
    position: absolute;
    top: 1%
  }
  .btn-next{
    background-color: #FEC75E;
        padding: 20px;
        border: 2px solid #000;
        border-radius: 10px;
        font-family: 'DotGothic16', sans-serif;
        font-size: 10pt;
        max-width: 90%;
        height: 100%;
  }



.container {
  display: flex;
  justify-content: center;
}
.callout {
  position: fixed;
      width: 55%;
      top: 2%;
    max-width: 800px;

}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 40px;
  color: white;
  text-align: center;
}

.callout-container {
  padding: 20px 80px 55px 80px;
  background-color: #ccc;
  color: black;
  text-align: center;
  text-align: justify;
  font-size: 26pt;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}
.img-sign {
  height: 30px;
  width: 30px;
}

/* time */
.timer-wrapper {
  position: absolute;
top: 90%;
display: flex;
justify-content: center;

width: 100%;
position: absolute;
}

.timer {
  background-color: #FEC75E;
      padding: 20px;
      border: 2px solid #000;
      border-radius: 10px;
      font-family: 'DotGothic16', sans-serif;
      font-size: 10pt;
      max-width: 90%;
      height: 100%;
      text-align: center;
}
b {
  color: #DC0202;
}
